body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('./imgs/background.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1400px){   
    .titulo {
        text-align: center; 
        color: whitesmoke; 
        text-shadow: 3px 3px black; 
        font-size: 3em;
    }
    .subtitulo {
        text-align: center; 
        color: whitesmoke; 
        text-shadow: 3px 3px black; 
        font-size: 2em;
    }
    .vc-font{
        font-size: 2em;
        text-shadow: 2px 2px black;
    }
 }

@media screen and (min-width: 1000px) and (max-width: 1399px), (max-height: 899px){   
    .titulo {
        text-align: center; 
        color: whitesmoke; 
        text-shadow: 3px 3px black; 
        font-size: 3em;
    }

    .subtitulo {
        text-align: center; 
        color: whitesmoke; 
        text-shadow: 3px 3px black; 
        font-size: 2em;
    }
    .vc-font{
        font-size: 1em;
        text-shadow: 2px 2px black;
    }
 }

@media screen and (min-width: 801px) and (max-width:999px){   
    .titulo {
        text-align: center; 
        color: whitesmoke; 
        text-shadow: 2px 2px black; 
        font-size: 2em;
    }
    .subtitulo {
        text-align: center; 
        color: whitesmoke; 
        text-shadow: 2px 2px black; 
        font-size: 2em;
    }
    .vc-font{
        font-size: 2em;
        text-shadow: 2px 2px black;
    }
 }

@media screen and (min-width: 601px) and (max-width:800px) {   
    .titulo {
        text-align: center; 
        color: whitesmoke; 
        text-shadow: 2px 2px black; 
        font-size: 1em;
    }

    .subtitulo {
        text-align: center; 
        color: whitesmoke; 
        text-shadow: 2px 2px black; 
        font-size: 1em;
    }
    .vc-font{
        font-size: 1em;
        text-shadow: 2px 2px black;
    }
 }
 
@media screen and (max-width:600px) and (min-height: 701px){
    .titulo {
          font-size: 0em;
    }
    .subtitulo {
        font-size: 0em;
  }
  .vc-font{
    font-size: 1em;
    text-shadow: 2px 2px black;
}
}


@media screen and (max-height: 570px) , (max-width:600px){   
    .titulo {
        text-align: center; 
        color: whitesmoke; 
        text-shadow: 2px 2px black; 
        font-size: 0em;
    }
    .subtitulo {
        text-align: center; 
        color: whitesmoke; 
        text-shadow: 2px 2px black; 
        font-size: 0em;
    }
    .vc-font{
        font-size: 0em;
        text-shadow: 2px 2px black;
    }
 }

.tw-button{
    background: url(./imgs/TW.png);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 44px 44px; 
    height: 54px; 
    width: 54px;
}

.ig-button{
    background: url(./imgs/IG.png);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 44px 44px; 
    height: 54px; 
    width: 54px;
}

.fb-button{
    background: url(./imgs/FB.png);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 44px 44px; 
    height: 54px; 
    width: 54px;
}


.gh-button{
    background: url(./imgs/GH.png);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: 44px 44px; 
    height: 54px; 
    width: 54px;
}